@import url("https://fonts.googleapis.com/css?family=Bungee");

.error-page {
  background: #1b1b1b;
  color: white;
  font-family: "Bungee", cursive;
  margin-top: 50px;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error-page a {
  color: #2aa7cc;
  text-decoration: none;
}
.error-page a:hover {
  color: white;
}
.error-page svg {
  width: 50vw;
}
.error-page .lightblue {
  fill: #444;
}
.error-page .eye {
  cx: calc(115px + 30px * var(--mouse-x));
  cy: calc(50px + 30px * var(--mouse-y));
}
.error-page #error-wrap {
  overflow: hidden;
}
.error-page .error-text {
  font-size: 120px;
}
.error-page .alarm {
  animation: alarmOn 0.5s infinite;
}

@keyframes alarmOn {
  to {
    fill: darkred;
  }
}
