.search-box-container {
    position: fixed;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.401);
    backdrop-filter: blur(2px);
    z-index: 20000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-160px);
}

.search-box-main-form {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    .__search-box {
        width: 100%;
        display: flex;
        border: 1px solid rgb(175, 175, 175);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        align-items: center;

        .___icon {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 2px solid rgb(157, 157, 157);
        }

    }

    .chip-tags {
        display: flex;
        gap: 5px;
        padding: 10px 0px 10px 0px;
        flex-wrap: wrap;
    }
}


.results-boxs {
    max-height: 60vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 3px;

    .result-item {
        width: 100%;
        padding: 3px;
        display: flex;
        gap: 10px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            .___title {
                color: rgb(108, 108, 108);
                text-decoration: none;
            }
        }

        img {
            width: 100px;
            height: 60px;
            border-radius: 10px;
            object-fit: cover;
        }

        .result-item-content {
            flex: 1;

            .___price {
                display: flex;
                color: rgb(235, 84, 84);
                font-family: monospace;
                font-size: 22px;
            }
        }
    }
}